@keyframes fall {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}
        
                @keyframes sparkle {

            0% { opacity: 0.4; transform: scale(1); }

            50% { opacity: 1; transform: scale(1.7); }
            100% { opacity: 0.4; transform: scale(1); }
        }

        * {
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f4009283, #0f7f1783, #5f0f7f83);
    background-size: cover;
    position: relative; /* To contain absolute positioned decorations */
    overflow-x: hidden;
}

.left-image {
    /* Align images on the left */
    align-self: flex-start;
}

.right-image {
    /* Align images on the right */
    align-self: flex-end;
}

.image-container {
    display: grid;
    grid-column: 300px;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px;
}

img {
    position: relative;
    z-index: 5; /* Ensure images are above the decorations */
    width: 300px;
    height: auto;
    opacity: 0;   /* Start with images invisible */
    }
    img.right-image
    {
        position: relative;
        right: -55px;
        transform: translateX(60px);  /* Initially position images below */

    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */


    }
    img.left-image
    {
        position: relative;
        left: -5px;
        transform: translateX(-60px);  /* Initially position images below */

    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */


    }

/* Adding some space to make scrolling noticeable */
section {
    height: 100vh;
    margin-bottom: 20px;
}

.star {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    animation: sparkle 1.5s infinite ease-in-out;
    opacity: 0;
    z-index: 2; /* Make sure stars appear on top */
}



        
        /* Add more stars as needed, each with different positions and animation delay */

        /* Falling Confetti */
        .confetti {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #ff0;
            animation: fall 3s infinite ease-in;
            opacity: 0;
            border-radius: 50%;
            z-index: 1; /* Below stars but above page content */
        }
        
        .deco {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 10; /* Keep it above the content but below images */
        }